.field, .game_ui, .next_block_field, .control_field, .score_field {
  border:1px solid;
  margin-left: auto;
  margin-right: auto;
}
.field, .next_block_field {
  background-color: grey;
  background: -webkit-linear-gradient(top, white 50%, lightgrey 100%);
  background: -moz-linear-gradient(top, white 50%, lightgrey 100%);
  background: -o-linear-gradient(top, white 50%, lightgrey 100%);
  background: -ms-linear-gradient(top, white 50%, lightgrey 100%);
  background: linear-gradient(top, white 50%, lightgrey 100%);
}

.control_field, .score_field {
  background-color: white;
  margin-top: 23px;
  position: relative;
  width: 150px;
}

.game_ui {
  border-radius: 5px;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  position: relative;
  width:450px;
  height:550px;
}

.game_ui_column {
  flex-direction: column;
}

.field {
  position: relative;
  margin-top: 23px;
  width:250px;
  height:500px;
  font-size:30px;
}

.next_block_field {
  margin-top: 23px;
  position: relative;
  width: 150px;
  height: 150px;
}

.control_field {
  hyphens: manual;
  margin-bottom: 23px;
  font-size: 75%;
}

.control_field h1 {
  margin: 0;
  text-align: center;
}

.control_field p {
  text-align: center;
}

.score_field {
  height: 75px;
}

.score_field h1 {
  margin: 0;
  text-align: center;
}

.score_field h2 {
  margin: 0;
  text-align: center;
}

.cell {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: lawngreen;
  background: -webkit-linear-gradient(top left, white 10%, lawngreen 100%);
  background: -moz-linear-gradient(top left, white 10%, lawngreen 100%);
  background: -o-linear-gradient(top left, white 10%, lawngreen 100%);
  background: -ms-linear-gradient(top left, white 10%, lawngreen 100%);
  background: linear-gradient(top left, white 10%, lawngreen 100%);
  border: 1px solid;
  border-radius: 5px;
}

.stopped {
  width: 21px;
  height: 21px;
  border: 2px solid;
  background: -webkit-linear-gradient(top left, white 10%, lime 100%);
  background: -moz-linear-gradient(top left, white 10%, lime 100%);
  background: -o-linear-gradient(top left, white 10%, lime 100%);
  background: -ms-linear-gradient(top left, white 10%, lime 100%);
  background: linear-gradient(top left, white 10%, lime 100%);
}